// Color names:
$monarch: #9a073c;
$siren: #700028;
$spring-wood: #f9faf5;
$mercury: #e1e0e0;
$gallery: #EFEFEF;
$downriver: #0b245b;
$allports: #00779b;
$Mosque: #02556e;

// Layout Colors:
$main-color: $monarch;
$light-backgroud: $gallery;
$main-backgroud: $downriver;
