// Color names:
$monarch: #9a073c;
$spring-wood: #f9faf5;
$mercury: #e1e0e0;
$gallery: #efefef;
$downriver: #0b245b;
$allports: #00779b;
$Mosque: #02556e;
$cloudy: #afadaa;
$timberwolf: #d4d2ce;
$arrowtown: #968169;
$westar: #dedcd2;
$satin-linen: #e8e5dc;

// Layout Colors:
$main-color: $monarch;
$light-backgroud: $satin-linen;
$main-backgroud: $downriver;
